<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="html5plus://ready"></script>

  <!-- 如果有使用mui,就不要注释下面两个标签 -->
  <!-- <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.muiSourcePath %>assets/css/mui.min.css"> -->
  <!-- <script src="<%= htmlWebpackPlugin.options.muiSourcePath %>assets/js/mui.min.js"></script> -->

  <title>Mogo H5plus</title>
</head>

<body>
  <div id="root"></div>

  <script>
    plus.key.addEventListener(
      "backbutton",
      function () {
        var ws = plus.webview.currentWebview();
        plus.webview.close(ws);
      },
      false
    );
    // plus.nativeUI.toast('嘿嘿');
  </script>
</body>


</html>